@import "_reset";
@import "_var";
@import "_mixins";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  a {
    @include link();
  }
  h1 {
    @include h1Text();
  }

  h2 {
    @include h2Text();
  }

  h3 {
    @include h3Text();
  }
}

header {
  width: 300px;
  height: 100vh;
  background-color: rgba($color: #fff, $alpha: 0.6);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .navbar {
    margin: 30px 0;
    .div.navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include h3Text();
      & > li {
        margin: 5px 0;
      }
      .navbar-link {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin: 0 5px;
        }
      }
    }
  }
}

.page {
  margin-left: 300px;
  width: calc(100% - 300px);
  min-height: 100vh;
  padding: 60px 30px;
  @include inPostText();
  h1 {
    @include inPostTextH1();
    margin: 30px 0;
  }
  h2 {
    @include inPostTextH2();
    margin: 30px 0;
  }
  h3 {
    @include inPostTextH3();
    margin: 30px 0;
  }
  img {
    max-width: 300px;
  }
  .blogPost {
    p {
      margin: 15px 0;
    }
    .meta {
      margin: 15px 0;
    }
    ul {
      list-style-type: disc;
      list-style-position: outside;
      margin-left: 30px;
    }
    pre {
      margin: 15px 0;
      code {
        padding: 10px;
        color: cyan;
        background-color: #1f1f1f;
        border-radius: 8px;
      }
    }
  }
  .portfolioLayout {
    .portfolioInner_portfolio {
      margin-bottom: 30px;
    }
    .portfolioInner_article {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      align-items: center;
      justify-items: center;
      .portfolioPost {
        width: 300px;
        height: 300px;
        overflow: hidden;
        &:hover {
          a {
            .portfolioPost_title {
              opacity: 1;
            }
          }
        }
        a {
          .portfolioPost_title {
            position: absolute;
            background-color: rgba($color: #000, $alpha: 0.5);
            ul {
              width: 300px;
              height: 300px;
              display: flex;
              padding-top: 230px;
              justify-content: space-evenly;
              align-items: center;
              @include inPostTextH3();
              color: white;
            }
            opacity: 0;
          }
          .portfolioPost_img {
            position: absolute;
            p {
              width: 300px;
              height: 300px;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .mainpage {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    .mainpage_inner {
      display: flex;
      flex-direction: column;
    }
  }
}
